
<div class="user-details">
  <h1> About Me</h1>
  <p> Born and raised in Hong Kong, I moved to Seattle after graduating from The 
    University of Hong Kong. While I was trying to deal with a huge life 
    transition, I had a strong motivation to learn something. Soon I started 
    coding again. 
  </p>
  <p>Having a minor in Computer Science, I always love algorithms.
  Learning algorithms has taught me many different perspectives and
  I love the feeling of getting my brain overloaded solving technical problems.
  All these have given me great sense of satisfaction and motivated me to keep
  coding.</p>
  <p>
    I am experienced with the following technologies:</p>
    <ul>
      <li>PostgreSQL</li>
      <li>Ruby on Rails</li>
      <li>JavaScript</li>
      <li>React</li>
    <li>Redux</li>
    <li>MongoDB</li>
    <li>Express.js</li>
    <li>Node.js</li>
  </ul> 
  <p> Other than coding, I like studying physics and playing volleyball in my spare time.
    Thank you for reading through my story and I look forward to connecting!
  </p>
  <!-- <p>
    Learning algorithms taught me yet a whole new way of thinking.
    I'm always grateful that I live in the digital age where I could utilised so many resources for learning and making my life easier. 
    And now I am ready to contribute and make others' lives easier. Thank you for reading through my story and look forwards to connecting!
  </p> -->

</div>
<div class="user">
  <div class="tech">
    <h2>Technologies</h2>
    <i class="devicon-ruby-plain-wordmark colored"></i>
    <i class="devicon-rails-plain-wordmark colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-jquery-plain-wordmark colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <i class="devicon-mongodb-plain-wordmark colored"></i>
    <i class="devicon-express-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark colored"></i>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-babel-plain colored"></i>
    <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
    <i class="devicon-d3js-plain colored"></i>
    <i class="devicon-python-plain-wordmark"></i>
    <i class="devicon-webpack-plain-wordmark colored"></i>
  </div>
  <!-- <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-atom-original-wordmark"></i>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
      Vinyl XOXO lumbersexual</p>
  </div> -->
  
</div>


