<div class="user-details">
  <h1>About Me</h1>
  <p>
  After graduating from college, I moved from Hong Kong to the United States. 
  As I dealt with the emotional impact of the life transition, programming slowly
   became my outlet for creativity and problem-solving. I revisited lecture notes
   to study algorithms, which could shift my mind from negativity. Since then, 
   I have learned a lot, from languages like Ruby and JavaScript to front-end 
   technologies like ReactJS.
  </p>
  <p>
  My first encounter with programming was the first coding assignment in the college,
 a task to build a ticket selling system for cinemas. It turned out the movie 
 ticketing system was more complicated than I'd ever imagined. I spent days and 
 nights sitting struggling with debugging, dealing with memory allocation, and 
 infinite loops in code. The process was like a roller-coaster ride. I felt 
 ecstatic when it passed some test cases, but soon it would fail in other cases. 
 In the end, the program worked. I was so happy when the output was what I expected. 
 </p>
 <p>
 Soon I realized my passion for coding. I love it not only because of the sense 
 of satisfaction from solving a challenge, but also the process of devising 
 solutions and improving the program. As a software engineer, my goal is to develop large-scale applications and next-generation technologies.
  </p>
  <p>
    I've sharpened my skills using the following technologies:
  </p>
  <ul>
    <li>PostgreSQL</li>
    <li>Ruby on Rails</li>
    <li>JavaScript</li>
    <li>React</li>
    <li>Redux</li>
    <li>MongoDB</li>
    <li>Express.js</li>
    <li>Node.js</li>
  </ul>
  <p>
    Other than coding, I like studying physics and playing volleyball in my
    spare time. Thank you for reading through my story. I look forward to
    connecting with you!
  </p>
  <!-- <p>
    Learning algorithms taught me yet a whole new way of thinking.
    I'm always grateful that I live in the digital age where I could utilised so many resources for learning and making my life easier. 
    And now I am ready to contribute and make others' lives easier. Thank you for reading through my story and look forwards to connecting!
  </p> -->
</div>
<div class="user">
  <div class="tech">
    <h2>Technologies</h2>
    <i class="devicon-ruby-plain-wordmark colored"></i>
    <i class="devicon-rails-plain-wordmark colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-jquery-plain-wordmark colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <i class="devicon-mongodb-plain-wordmark colored"></i>
    <i class="devicon-express-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark colored"></i>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-babel-plain colored"></i>
    <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
    <i class="devicon-d3js-plain colored"></i>
    <i class="devicon-python-plain-wordmark"></i>
    <i class="devicon-webpack-plain-wordmark colored"></i>
  </div>
  <!-- <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-atom-original-wordmark"></i>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
      Vinyl XOXO lumbersexual</p>
  </div> -->
</div>
