<div class="user-details">
  <h1>Recent Projects</h1>
</div>
<div class="projects-container">
  <div class="user-projects">
    <div class="image color-1">
      <img alt="hopcamp" src="{{ "/assets/img/hopcamp.png" | prepend:
      site.baseurl }}" />
    </div>
    <a href="https://hopcamp.herokuapp.com/#/">
      <h3>Hopcamp</h3>
      <div class="content">
        <p>A campsite booking application, inspired by hipcamp</p>
        <p>
          Built using <strong>PostgreSQL</strong>,
          <strong>Ruby on Rails</strong>, <strong>ReactJS</strong>,<strong
            >Redux</strong
          >
        </p>
      </div>
    </a>
  </div>
  <div class="user-projects">
    <div class="image color-2">
      <img alt="Therapuppy" src="{{ "/assets/img/therapuppy.png" | prepend:
      site.baseurl }}" />
    </div>
    <a href="https://therapuppy-app.herokuapp.com/#/">
      <h3>Therapuppy</h3>
      <div class="content">
        <p>A puppy therapy rental site</p>
        <p>
          Built using <strong>MERN stack</strong>, <strong>Axios</strong>,
          <strong>JWT</strong>
        </p>
      </div>
    </a>
  </div>
  <div class="user-projects">
    <div class="image color-3">
      <img alt="flight-connectivity" src="{{
      "/assets/img/flight-connectivity.png" | prepend: site.baseurl }}" />
    </div>
    <a href="https://chong-anson.github.io/flight-connectivity/">
      <h3>Flight Connectivity</h3>
      <div class="content">
        <p>A visualization of airports connectivity</p>
        <p>
          Built using <strong>D3.js</strong>, <strong>JavsScript</strong>,
          <strong>webpack</strong>, <strong>Ruby</strong>,
          <strong>Nokogiri</strong>
        </p>
      </div>
    </a>
  </div>
</div>
