#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  // max-width: 960px;
  padding: 0 12px;
  margin: 0 auto;
  @media only screen and (min-width: $cut) {
    padding: 0 24px;
    width: 95%;
  }
}

// .projects-container{
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
// }
// .user-projects {
//   // margin: 20px auto;
//   // img {
//   //   max-width: 100%;
//   //   height: auto;
//   //   border-radius: 5px;
//   // }
//   // h5 {
//   //   margin: 0;
//   // }
//   // li {
//   //   color: $font;
//   //   font-size: 1.1rem;
//   // }
//   // p {
//   //   margin-right: 5px;
//   // }

//   @media only screen and (min-width: $cut){
//       border: solid 1px red;
//       position: relative;
//       display: flex;
//       width: 32%;
//       padding-top: 100%;
//       align-items: flex-end;
//       overflow: hidden;
//       justify-content: center;
//       transition: transform 0.2s ease-in-out 0s, 
//                   box-shadow 0.2s ease-in-out;
//       &::before{
//         content: " ";
//         width: 100%;
//         height: 90%;
//         left: 0;
//         position: absolute;
//         bottom: 0;
//         background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.65));
//         z-index: 2;
//       }
//   }
  
//   .images{
//     @media screen and (min-width: $cut){
//       background-repeat: no-repeat;
//       background-position: center center;
//       background-size: cover; 
//       position: absolute;
//       top: 0px;
//       left: 0px;
//       width: 100%;
//       height: 100%;
//       z-index: 1;
//     }
//   }

//   .content {
//     @media screen and (min-width: $cut){
//       color: #333333; 
//       margin-bottom: 20px;
//       position: relative;
//       text-align: center;
//       z-index: 3;
//       font-size: 19px;
//     }
//   }
// }

// #image-1{
//   background-image: url("/assets/img/hopcamp.png");
// }

// #image-2 {
//   background-image: url("/assets/img/therapuppy.png");
// }


// // .contents {
// //   @media only screen and (min-width: $cut) {
// //     margin-left: 0;
// //     width: 48%;
// //   }
// // }

// // .contents-right {
// //   @media only screen and (min-width: $cut) {
// //     float: right;
// //     margin-top: -5%;
// //     width: 48%;
// //   }
// // }
// // .images-right {
// //   @media only screen and (min-width: $cut) {
// //     float: right;
// //     width: 48%;
// //   }
// //   img {
// //     @media only screen and (min-width: $cut) {
// //       float: right;
// //     }
// //   }
// // }

// // .images-left {
// //   @media only screen and (min-width: $cut) {
// //     float: left;
// //     width: 48%;
// //   }
// //   img {
// //     @media only screen and (min-width: $cut) {
// //       float: left;
// //     }
// //   }
// // }

// .project-link {
//   display: inline-block;
//   margin: 10px 0px;
//   padding: 5px;
//   color: _color(main);
//   background-color: transparent;
//   border: 1px solid _color(main);
//   border-radius: 10px;
//   text-align: center;
//   outline: none;
//   text-decoration: none;
//   cursor: pointer;
//   transition: color 0.3s ease-out,
//               background-color 0.3s ease-out,
//               border-color 0.3s ease-out;
//   &:hover {
//     background-color: $purple;
//     border-color: $purple;
//     color: #fff;
//     transition: color 0.3s ease-in,
//                 background-color 0.3s ease-in,
//                 border-color 0.3s ease-in;
//   }
//   &:active {
//     background-color: $purple;
//     border-color: $purple;
//     color: #fff;
//     transition: color 0.3s ease-in,
//                 background-color 0.3s ease-in,
//                 border-color 0.3s ease-in;
//   }
// }

.projects-container {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin: -2.5em 0 0 -2.5em;
  margin-bottom: 6rem;
  
  @media screen and (max-width: 1280px) {
    margin: -1.25em 0 0 -1.25em;
  }
  @media screen and (max-width: 980px) {
    // margin: -2.5em 0 0 -2.5em;
  }

  // @media screen and (max-width: 736px) {
  //   margin: -1.25em 0 0 -1.25em;
  // }
  @media screen and (max-width: $cut){
    margin: 0;
  }

  .user-projects {
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    width: calc(33.33333% - 2.5em);
    margin: 2.5em 0 0 2.5em;

    @media screen and (max-width: 1280px) {
      width: calc(33.33333% - 1.25em);
      margin: 1.25em 0 0 1.25em;
    }

    @media screen and (max-width: 980px) {
      width: calc(50% - 2.5em);
    }

    @media screen and (max-width: 736px) {
      width: calc(50% - 1.25em);
      margin: 1.25em 0.5em 0 0.5em;
    }

    @media screen and (max-width: $cut){
      width: 100%;
      margin: 1.25em 0 4rem 0;   
    }

    .image {
      -moz-transition: -moz-transform 0.5s ease;
      -webkit-transition: -webkit-transform 0.5s ease;
      -ms-transition: -ms-transform 0.5s ease;
      transition: transform 0.5s ease;
      position: relative;
      display: block;
      width: 100%;
      overflow: hidden;
    }

    // @media screen and (max-width: 736px) {
    //   // -moz-transform: scale(1.0);
    //   // -webkit-transform: scale(1.0);
    //   // -ms-transform: scale(1.0);
    //   // transform: scale(1.0);
    //   opacity: 0.3;
    // }
    .image img {
      display: block;
      width: 100%;
    }

    .image:before {
      pointer-events: none;
      -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
      -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
      -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
      transition: background-color 0.5s ease, opacity 0.5s ease;
      background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.65));
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1.0;
      z-index: 1;
      opacity: 0.9;
    }

    a {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -moz-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: flex-start;
      -moz-justify-content: flex-start;
      -webkit-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
      -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
      -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
      transition: background-color 0.5s ease, transform 0.5s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 1em;
      border-bottom: 0;
      text-align: left;
      text-decoration: none;
      z-index: 3;
    }

    a > :last-child {
      margin: 0;
    }

    a h3 {
      margin: 0;
      color: $main-alt;
      -moz-transition: padding 0.6s ease;
      -webkit-transition: padding 0.6s ease;
      -ms-transition: padding 0.6s ease;
      transition: padding 0.6s ease;
      padding-top: 60%;

    }

    a .content {
      -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
      -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
      -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
      transition: max-height 0.5s ease, opacity 0.5s ease;
      width: 100%;
      line-height: 1.5;
      margin-top: 0.35em;
      display: none;
      
      p {
        font-size: 1rem;
        margin: 0.2em auto;
      }
    }

    a .content > :last-child {
      margin-bottom: 1em;
    }

    &:hover {
      h3 {
        color: $font;
        padding: 5% 0 0 0;
      }

      .image {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.2;
      }

      .color-1.image:before {
        background-color: $accent1;
      }
      .color-2.image:before {
        background-color: $accent2;
      }
      .color-3.image:before {
        background-color: $accent3;
      }

      .content {
        display: block;
        color: $font;
        font-weight: 500;
      }
    }
    @media screen and (max-width: $cut){
      .image {
        opacity: 0.2;
      }

      .image:before {
        background-color: $font2;
      }
      a{
        h3 {
          color: $font;
          padding: 5px 0 0 0;

        }

        .content {
          display: block;
          color: $font;
          font-weight: 500;
        }
      }
    }
  }       
}


.tile-links-wrapper {
position: absolute;
bottom: -4rem;
}

.tile-links-btn {
  /* border: none;
  display: inline;
  padding: 0;
  box-shadow: none; */
}

  // body.is-preload .projects-container .user-projects {
  //   -moz-transform: scale(0.9);
  //   -webkit-transform: scale(0.9);
  //   -ms-transform: scale(0.9);
  //   transform: scale(0.9);
  //   opacity: 0;
  // }
  

// @media screen and (max-width: 980px) {

// }
// .projects-container {
//   margin: -2.5em 0 0 -2.5em;
// }

//   .projects-container .user-projects {
//     width: calc(50% - 2.5em);
//     margin: 2.5em 0 2rem 2.5em;
//   }
// .projects-container .user-projects > a h2 br {
//   display: block;


  // 	.tile-links-wrapper {
  // 		position: absolute;
  // 		bottom: -2.8rem;
  // 		font-size: 1.2rem;
  // 	}

  // }

  // @media screen and (max-width: 736px) {
  //   width: calc(50% - 1.25em);
  //   margin: 1.25em 0 4rem 0;
  // }

  // 	.projects-container {

  // 		.projects-container .user-projects {
  // 			width: calc(50% - 1.25em);
  // 			margin: 1.25em 0 4rem 0;

  // 		}


  // // 			.projects-container .user-projects:hover > .image {
  // 				-moz-transform: scale(1.0);
  // 				-webkit-transform: scale(1.0);
  // 				-ms-transform: scale(1.0);
  // 				transform: scale(1.0);
  // 				opacity: 0.3;
  // 			}


  // }

