
$cut: 550px;
$bg: #182141;
$bg2: rgba(255,255,255,1);
$font: #333333;
$font2: #7735f6;
$main: #f5f3ed;
$main-alt: #ffffff;
$border: #000000;
$accent1: #20639b;
$accent2: #3caea3;
$accent3: #f6d55c;

